
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edmund Hillary</title>
    </head>

    <body>
        <%@ include file="navigation.html" %>
        <h1 id="top">Edmund Hillary</h1>
        <p><small><a href="https://en.wikipedia.org/wiki/Edmund_Hillary" title="This Page">Sourced from Wikipedia, the
            free encyclopedia</a></small>
        </p>
        <p><a href="https://www.britannica.com/biography/Edmund-Hillary"><img
                src="https://cdn.britannica.com/s:300x300/31/11031-004-6BE7CBDA.jpg" alt="Edmund Hillary smiling"></a>
        </p>
        <p><strong>Sir Edmund Percival Hillary</strong> KG ONZ KBE (20 July 1919 – 11 January 2008) was a New Zealand
            mountaineer, explorer and <a href="https://dictionary.cambridge.org/dictionary/english/philanthropist"
                                         title="definition of philanthropist">philanthropist</a>. On 29 May 1953,
            Hillary and Nepalese Sherpa mountaineer Tenzing Norgay became the first climbers to reach the summit of
            Mount Everest. They were part of the ninth British expedition to Everest, led by John Hunt. Hillary was
            named by Time as one of the 100 most influential people of the 20th century. </p>
        <p>Hillary became interested in mountaineering while in secondary school, making his first major climb in 1939,
            reaching the summit of Mount Ollivier. He served in the Royal New Zealand Air Force as a navigator during
            World War II. Prior to the 1953 Everest expedition, Hillary had been part of the British <a
                    href="https://dictionary.cambridge.org/dictionary/english/reconnaissance"
                    title="definition of reconnaisance">reconnaissance</a> expedition to the mountain in 1951, as well
            as an unsuccessful attempt to climb Cho Oyu in 1952. As part of the Commonwealth Trans-Antarctic Expedition
            he reached the South Pole overland in 1958. He subsequently reached the North Pole, making him the first
            person to reach both poles and summit Everest. Following his ascent of Everest, Hillary devoted most of his
            life to helping the Sherpa people of Nepal through the Himalayan Trust, which he founded. Through his
            efforts, many schools and hospitals were built in Nepal.</p>

        <hr>



        <ol>
            <li><a href="#youth">Youth</a></li>
            <li><a href="#expeditions">Expeditions</a>
                <ol>
                    <li><a href="#1953">1953 Everest expedition</a></li>
                    <li><a href="#after">After Everest</a></li>
                </ol>
            </li>
            <li><a href="#public">Public recognition</a></li>

        </ol>

        <hr>

        <h2 id="youth">Youth</h2>
        <p>Hillary was born to Percival Augustus Hillary and Gertrude Hillary, née Clark, in Auckland, Dominion of New
            Zealand, on 20 July 1919. His family moved to Tuakau (south of Auckland) in 1920, after his father (who
            served at Gallipoli in the 15th North Auckland) was allocated land there. His grandparents were early
            settlers in northern Wairoa in the mid-19th century after emigrating from Yorkshire, England.</p>
        <p><small><a href="#top">Return to top</a></small></p>
        <hr>

        <h2 id="expeditions">Expeditions</h2>
        <p>Harry Ayres, along with Mick Sullivan, led Hillary and Ruth Adams up the south ridge of Aoraki/Mount Cook,
            New Zealand's highest peak, on 30 January 1948.</p>
        <p>Hillary was part of a British reconnaissance expedition to Everest in 1951 led by Eric Shipton before joining
            the successful British attempt of 1953.</p>
        <p>In 1952 Hillary and George Lowe were part of the British team led by Eric Shipton that attempted Cho Oyu.
            After that attempt failed due to the lack of route from the Nepal side, Hillary and Lowe crossed the Nup La
            into Tibet and reached the old Camp II, on the northern side, where all the pre-war expeditions camped.</p>

        <h3 id="1953">1953 Everest expedition</h3>
        <p>The route to Everest was closed by Chinese-controlled Tibet, and Nepal only allowed one expedition per year.
            A Swiss expedition (in which Tenzing took part) had attempted to reach the summit in 1952 but was turned
            back by bad weather and exhaustion 800 feet (240 m) from the summit. During a 1952 trip in the Alps, Hillary
            discovered that he and his friend George Lowe had been invited by the Joint Himalayan Committee for the
            approved British 1953 attempt and immediately accepted.</p>
        <p>Shipton was named as leader but was replaced by Hunt. Hillary considered pulling out, but both Hunt and
            Shipton talked him into remaining. Hillary was intending to climb with Lowe but Hunt named two teams for the
            assault: Tom Bourdillon and Charles Evans; and Hillary and Tenzing. Hillary therefore made a concerted
            effort to forge a working friendship with Tenzing.</p>
        <p>The Hunt expedition totalled over 400 people, including 362 porters, twenty Sherpa guides and 10,000 lbs of
            baggage, and like many such expeditions, was a team effort. Lowe supervised the preparation of the Lhotse
            Face, a huge and steep ice face, for climbing. Hillary forged a route through the <a
                    href="https://dictionary.cambridge.org/dictionary/english/treacherous"
                    title="definition of treacherous">treacherous</a> Khumbu Icefall. </p>
        <p>The expedition set up base camp in March 1953. Working slowly it set up its final camp at the South Col at
            25,900 feet (7,890 m). On 26 May Bourdillon and Evans attempted the climb but turned back when Evans' oxygen
            system failed. The pair had reached the South Summit, coming within 300 vertical feet (91 m) of the summit.
            Hunt then directed Hillary and Tenzing to go for the summit.</p>
        <p>Snow and wind held the pair up at the South Col for two days. They set out on 28 May with a support trio of
            Lowe, Alfred Gregory and Ang Nyima. The two pitched a tent at 27,900 feet (8,500 m) on 28 May while their
            support group returned down the mountain. On the following morning Hillary discovered that his boots had
            frozen solid outside the tent. He spent two hours warming them before he and Tenzing attempted the final
            ascent wearing 30-pound (14 kg) packs. The crucial move of the last part of the ascent was the 40-foot (12
            m) rock face later named the "Hillary Step". Hillary saw a means to wedge his way up a crack in the face
            between the rock wall and the ice and Tenzing followed. From there the following effort was relatively
            simple. Tenzing Norgay stated in his <a href="https://dictionary.cambridge.org/dictionary/english/narration"
                                                    title="definition of narration">narration</a> "The Dream Comes True"
            that Hillary had indeed taken the first step atop Mount Everest, despite Hillary quoting that both had
            reached the summit at the same time. They reached Everest's 29,028 ft (8,848 m) summit, the highest point on
            earth, at 11:30 am. As Hillary put it, "A few more whacks of the ice axe in the firm snow, and we stood on
            top." </p>
        <p>They spent only about 15 minutes at the summit. Hillary took the famous photo of Tenzing posing with his
            ice-axe, but since Tenzing had never used a camera, Hillary's ascent went unrecorded. However, according to
            Tenzing's autobiography Man of Everest, when Tenzing offered to take Hillary's photograph Hillary declined:
            "I motioned to Hillary that I would now take his picture. But for some reason he shook his head; he did not
            want it." Tenzing left chocolates in the snow as an offering and Hillary left a cross that he had been given
            by John Hunt. Additional photos were taken looking down the mountain in order to confirm that they had made
            it to the top and that the ascent was not faked.</p>
        <p>The two had to take care on the descent after discovering that drifting snow had covered their tracks,
            complicating the task of retracing their steps. The first person they met was Lowe, who had climbed up to
            meet them with hot soup. </p>
        <p><em>Well, George, we knocked the bastard off.<br/> &mdash;Edmund Hillary, first words to lifelong friend
            George Lowe on returning from Everest's summit</em></p>
        <p>News of the expedition reached Britain on the day of the coronation of Queen Elizabeth II, and the press
            called the successful ascent a coronation gift. In return, the 37 members of the party received the Queen
            Elizabeth II Coronation Medal with MOUNT EVEREST EXPEDITION engraved on the rim. The group was surprised by
            the international acclaim that they received upon arriving in Kathmandu. Hillary and Hunt were knighted by
            the young queen, while Tenzing received the George Medal from the British Government for his efforts with
            the expedition. </p>
        <p>
            <video controls>
                <source src="../assets/edmund_hillary_climbs_everest.mp4" type="video/mp4">
                <source src="../assets/edmund_hillary_climbs_everest.ogg" type="video/ogg">
                There was a problem with the video playback.
            </video>

        <h3 id="after">After Everest</h3>
        <p>Hillary climbed ten other peaks in the Himalayas on further visits in 1956, 1960–1961, and 1963–1965. He also
            reached the South Pole as part of the Commonwealth Trans-Antarctic Expedition, for which he led the New
            Zealand section, on 4 January 1958. His party was the first to reach the Pole overland since Amundsen in
            1911 and Scott in 1912, and the first ever to do so using motor vehicles.</p>
        <p>Hillary narrowly missed becoming a victim in TWA Flight 266 from the American midwest in the 1960 New York
            air disaster, having been late for his flight.</p>
        <p><small><a href="#top">Return to top</a></small></p>
        <hr>

        <h2 id="public">Public recognition</h2>
        <p>On 6 June 1953 Hillary was appointed Knight Commander of the Order of the British Empire; and on 6 February
            1987 was the fourth appointee to the Order of New Zealand. On 22 April 1995 Hillary was appointed Knight
            Companion of The Most Noble Order of the Garter. The Government of India conferred on him its second highest
            civilian award, the Padma Vibhushan, posthumously, in 2008. He was also awarded the Polar Medal for his part
            in the Commonwealth Trans-Antarctic Expedition, and the Order of Gorkha Dakshina Bahu, 1st Class of the
            Kingdom of Nepal in 1953. His favoured New Zealand charity was the Sir Edmund Hillary Outdoor Pursuits
            Centre Inc. (OPC) of which he was Patron for 35 years. Hillary was particularly keen on the work this
            organisation did in introducing young New Zealanders to the outdoors in a very similar way to his first
            experience of a school trip to Mt Ruapehu at the age of 16. Various streets, schools and organisations
            around New Zealand and abroad are named after him. A few examples are Hillary College (Otara), Edmund
            Hillary Primary School (Papakura) and the Hillary Commission (now SPARC). Several schools have houses named
            after him, including Auckland Grammar School, Hutt International Boys' School, Macleans College, Rangiora
            High School, Tauranga Boys' College, Upper Hutt College, Sacred Heart RC Primary School, Hornsby House
            School, and Endeavour Primary School.</p>
        <p>In 1992 Hillary appeared on the updated New Zealand $5 note, thus making him the only New Zealander to appear
            on a banknote during his or her lifetime, in defiance of the established convention for banknotes of using
            only depictions of deceased individuals, and current heads of state. The Reserve Bank governor at the time,
            Don Brash, had originally intended to use a deceased sportsperson on the $5 note but could not find a
            suitable candidate. Instead he broke with convention by requesting and receiving Hillary's permission —
            along with an insistence from Hillary to use Aoraki/Mount Cook rather than Mount Everest in the backdrop.
            The image also features a Ferguson TE20 tractor like the one Hillary used to reach the South Pole on the
            Commonwealth Trans-Antarctic Expedition. A 2.3-metre (7.5 ft) bronze statue of "Sir Ed" was installed
            outside The Hermitage hotel at Mount Cook Village, New Zealand, in 2003.</p>
        <p>In June 2004 Hillary was awarded Commander's Cross of the Order of Merit of the Republic of Poland.</p>
        <p>To mark the occasion of the 50th anniversary of the first successful ascent of Everest the Nepalese
            government conferred honorary citizenship upon Hillary at a special Golden Jubilee celebration in Kathmandu,
            Nepal. He was the first foreign national to receive that honour.</p>
        <p>In 2008, the same year he died, the Indian Government conferred him with Padma Vibhushan, the second highest
            civilian honour of the country.</p>
        <p>In 2005 a poll conducted by Reader's Digest put Hillary as "New Zealand's most trusted individual", beating
            cyclist Sarah Ulmer and film director Peter Jackson. He kept the title in 2006 and 2007 After his death in
            2008 he was succeeded by Willie Apiata VC, a Corporal in the NZSAS.</p>
        <p>Two Antarctic features are named after Hillary. The <em>Hillary Coast</em> is a section of coastline south of
            Ross Island and north of the Shackleton Coast. It is formally recognised by New Zealand, the United States
            of America and Russia. The <em>Hillary Canyon</em>, an undersea feature in the Ross Sea appears on the
            General Bathymetric Chart of the Oceans, which is published by the International Hydrographic Organization.
        </p>
        <p>In 1974, Folkways Records released Interview with <em>Sir Edmund Hillary: Mountain Climbing</em> which
            included his thoughts on the Everest Expedition and the Abominable Snowman.</p>
        <p><small><a href="#top">Return to top</a></small></p>
        <hr>
    </body>
</html>