<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Potash</title>
    </head>
    <body>
        <%@ include file="navigation.html" %>

        <h1 id="top">Potash</h1>

        <p><small> <a href="https://en.wikipedia.org/wiki/Potash" title="This Page">Sourced from Wikipedia, the free
            encyclopedia</a></small>
        </p>
        <p><a href="https://www.britannica.com/science/potash" title="potash"><img
                src="https://cdn.britannica.com/s:300x300/91/138791-004-3D622A29.jpg" alt="crystal of potash"></a></p>
        <p><strong>Potash</strong> is any of various mined and manufactured salts that contain <a
                href="https://dictionary.cambridge.org/dictionary/english/potassium" title="definition of potassium">potassium</a>
            in water-soluble form. The name derives from <em>pot ash</em>, which refers to plant ashes soaked in water
            in a pot, the primary means of manufacturing the product before the industrial era. The word potassium is
            derived from potash.</p>

        <p>Potash is produced worldwide at amounts exceeding 30 million <a
                href="https://dictionary.cambridge.org/dictionary/english/tonne" title="definition of tonne">tonnes</a>
            per year, mostly for use in fertilizers. Various types of fertilizer-potash thus constitute the single
            largest global industrial use of the element potassium. Potassium was first derived by <a
                    href="https://dictionary.cambridge.org/dictionary/english/electrolysis"
                    title="definition of electrolysis">electrolysis</a> of <a
                    href="https://dictionary.cambridge.org/dictionary/english/caustic" title="definition of caustic">caustic</a>
            potash (a.k.a. potassium hydroxide), in 1807.</p>

        <hr>
        <ol><li><a href="#terms">Terminology</a></li>
        <li><a href="#production">Production</a></li></ol>
<hr>

        <h2 id="terms">Terminology</h2>

        <p>Potash refers to potassium compounds and potassium-bearing materials, the most common being potassium
            chloride (KCl). The term potash comes from the Middle Dutch word potaschen (<em>pot ashes</em>, 1477). </p>

        <p>The old method of making <a href="https://en.wikipedia.org/wiki/Potassium_carbonate"
                                       Title="Potassium Carbonate">potassium carbonate</a> (K<sub>2</sub>CO<sub>3</sub>)
            was by collecting or producing wood ash (an occupation carried out by ash burners), <a
                    href="https://dictionary.cambridge.org/dictionary/english/leach?q=leaching"
                    title="definition of leaching">leaching</a> the ashes and then evaporating the resulting solution in
            large iron pots, leaving a white residue called pot ash. Approximately 10% by weight of common wood ash can
            be recovered as pot ash. Later, <em>potash</em> became the term widely applied to naturally occurring
            potassium salts and the commercial product derived from them. </p>
        <p><small><a href="#top">Return to top</a></small></p>
        <hr>

        <h2 id="production">Production</h2>

        <p>All commercial potash deposits come originally from <a
                href="https://dictionary.cambridge.org/dictionary/english/evaporite" title="definition of evaporite">evaporite</a>
            deposits and are often buried deep below the earth's surface. Potash ores are typically rich in potassium
            chloride (KCl) and sodium chloride (NaCl) and are typically obtained by conventional shaft mining with the
            extracted ore ground into a powder. Other methods include dissolution mining and evaporation methods from
            brines.

        <p>In the evaporation method hot water is injected into the potash which is dissolved and then pumped to the
            surface where it is concentrated by solar induced evaporation. <a
                    href="https://dictionary.cambridge.org/dictionary/english/amine"
                    title="definition of amine">Amine</a> reagents are then added to either the mined or evaporated
            solutions. The amine coats the KCl but not NaCl. Air bubbles cling to the amine + KCl and float it to the
            surface while the NaCl and clay sink to the bottom. The surface is skimmed for the amine + KCl which is then
            dried and packaged for use as a K rich fertilizer - KCl dissolves readily in water and is available quickly
            for plant nutrition.

        <p>Potash deposits can be found all over the world, at present deposits are being mined in Canada, Russia,
            China, Belarus, Israel, Germany, Chile, United States, Jordan, Spain, United Kingdom, Uzbekistan and Brazil.
        <p><small><a href="#top">Return to top</a></small></p>
    </body>
</html>